</main>

<script src="{{ root }}/static/vendor/jquery-3.6.0.min.js"></script>
<script src="{{ root }}/static/vendor/popper.min.js"></script>
<script src="{{ root }}/static/vendor/bootstrap.min.js"></script>

<script src="{{ root }}/static/vendor/vue.js"></script>
<script src="{{ root }}/static/vendor/axios.min.js"></script>
<script src="{{ root }}/static/js/main.js"></script>

</body>
</html>